@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

h2, h1 {
  color: #ffffff;
}

.card-style {
  background-color: #282828;
  border-color: #404040;
  border-width: 3px;
  color: #ffffff;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 10px
}
.postTitle {
  color: aqua;
}
.commentsWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 10px
  
}
.buttonWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  padding: 2px;
}
.card-reactions{
  display: flex;
flex-wrap: wrap;
flex-direction: row;
}
.reactionWrap {
display: flex;
flex-wrap: wrap;
flex-direction: row;
}

.postForm{
display: flex;
flex-direction: column;
width: 700px;
}

.postform-container{
display: flex;
justify-content: center; 
align-items: center;
height: 75vh;
}

#createpostbtn{
  width: 150px;
  color: white;
  background-color:#404040;
}

#createpostbtn:hover{
  background-color: rgb(119, 118, 118);
}

#editpostbtn{
  width: 150px;
  color: white;
  background-color:#404040;
}

#editpostbtn:hover{
  background-color: rgb(119, 118, 118);
}

#commentbtn{
  width: 150px;
  color: white;
  background-color:#404040;
}

#commentbtn:hover{
  background-color: rgb(119, 118, 118);
}

#userbtn{
  width:150px;
  color: white;
  background-color:#404040;
}

#userbtn:hover{
  background-color: rgb(119, 118, 118);
}

.userForm{
display: flex;
flex-direction: column;
width: 600px;
}

.commentform-container{
align-items: center;
display: flex;
}

.regForm{
display: flex;
flex-direction: column;
width: 800px;
}

#regform-container{
align-items: center;
display: flex;
justify-content: center;
}

#editpost{
  background-color: #282828;
  border-color: #282828;
}

#editpost:hover{
  background-color: rgb(98, 98, 98);
}

#viewuser{
  background-color: #282828;
  border-color: #282828;
}

#viewuser:hover{
  background-color: rgb(98, 98, 98);
}

#deletepost{
  background-color: #282828;
  border-color: #282828;
}

#deletepost:hover{
  background-color: rgb(98, 98, 98);
}

#viewbtn{
  color: black;
  background-color: lightgray;
}

#viewbtn:hover {
  background-color: #484848;
  color: white;
  border-color:#484848;
}

#edituser:hover {
  background-color: rgb(98, 98, 98) !important;
}

#signin{
  color: black;
  background-color: lightgray;
}

#signin:hover{
  background-color: #484848;
  color: white;
  border-color:#484848;
}

.list-group{
    background-color: #282828;
    border-color: #404040;
    border-width: 3px;
    color: #ffffff;
}

.mini-card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 10px
}

#mini-user-card{
    align-items: center;
    width: 10rem;
    height: 20rem;
    background-color: #282828;
    border-color: #404040;
    border-width: 3px;
    color: #ffffff;
}

#mini-user-card .card-img-top {
  height: 50%;
  width: auto;
  object-fit: contain;
}

.search-bar{
  width: 15rem;
}

#edituser{
  color: white;
  border-color: white;
}

#viewcommentbtn{
  color: lightgray;
  background-color:#404040;
}

#addreactionbtn{
  color: lightgray;
  background-color:#404040;
}

#viewcommentbtn:hover{
  background-color: rgb(119, 118, 118);
}

#addreactionbtn:hover{
  background-color: rgb(119, 118, 118);
}

.details-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commentform-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#comment-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cmntedit{
background-color: rgb(188, 188, 188);
border-color: rgb(181, 181, 181);
}

#cmntdlt{
background-color: rgb(63, 63, 63);
color: whitesmoke;
border-color: rgb(73, 72, 72);
}
