@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

h2, h1 {
  color: #ffffff;
}

.card-style {
  background-color: #282828;
  border-color: #404040;
  border-width: 3px;
  color: #ffffff;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 10px
}
.postTitle {
  color: aqua;
}
.commentsWrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 10px
  
}
.buttonWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
  padding: 2px;
}
.card-reactions{
  display: flex;
flex-wrap: wrap;
flex-direction: row;
}
.reactionWrap {
display: flex;
flex-wrap: wrap;
flex-direction: row;
}

.postForm{
display: flex;
flex-direction: column;
width: 700px;
}

.postform-container{
display: flex;
justify-content: center; 
align-items: center;
height: 75vh;
}

#createpost{
  width: 150px;
}

#commentbtn{
  width: 150px;
}

#userbtn{
  width:150px;
}

.userForm{
display: flex;
flex-direction: column;
width: 600px;
}

.commentform-container{
align-items: center;
display: flex;
}

.regForm{
display: flex;
flex-direction: column;
width: 800px;
}

#regform-container{
align-items: center;
display: flex;
justify-content: center;
}
